.button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
}

.button:hover {
  background-color: red;
  }
  
.box {
  position: relative;
  width: 20px;
  height: 200px;
}
.box-child {
  display: none;
  background-color: black;
  width: 200px;
}
.box-child a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.box:hover .box-child {
  display: block;
}
